<h1>Oppmerksomheter <input type="button" ng-click="toggleSkjema()" value="Vis/skjul skjema" /></h1>
<form name="oppmerksomheter" ng-submit="submitOppmerksomhet()" class="form-horizontal" ng-show="visSkjema">

    <div class="control-group">
        <label class="control-label" for="til">Til:</label>
        <div class="controls">
            <select id="til" ng-model="oppmerksomhet.til" ng-options="involvert as involvert.navn for involvert in involvertListe" ng-required=!oppmerksomhet.fra>
                <option value="">Ingen</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="fra">Fra:</label>
        <div class="controls">
            <select id="fra" ng-model="oppmerksomhet.fra" ng-options="involvert as involvert.navn for involvert in involvertListe" ng-required=!oppmerksomhet.til>
                <option value="">Ingen</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="url">Link:</label>
        <div class="controls">
            <input id="url" type="text" ng-model="oppmerksomhet.url" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="verdi">Verdi:</label>
        <div class="controls">
            <input id="verdi" type="text" ng-model="oppmerksomhet.verdi"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="tid">Dato:</label>
        <div class="controls">
            <input id="tid" type="text" ng-model="oppmerksomhet.tid" datepicker placeholder="åååå-mm-dd" required/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="hendelsestype">Hendelsestype:</label>
        <div class="controls">
            <select id="hendelsestype" ng-model="oppmerksomhet.hendelsestype" ng-options="hendelsestype for hendelsestype in hendelsestypeListe" ng-required=true>
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="hendelsestype">Rolle:</label>
        <div class="controls">
            <select id="rolle" ng-model="oppmerksomhet.rolle" ng-options="rolle for rolle in rolleListe" required>
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="info">Info:</label>
        <div class="controls">
            <textarea id="info" type="text" ng-model="oppmerksomhet.info" rows=8 />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="levert">Gave levert:</label>
        <div class="controls">
            <input id="levert" type="checkbox" ng-model="oppmerksomhet.levert" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button ng-disabled="oppmerksomheter.$invalid">Lagre</button>
        </div>
    </div>
</form>

<ul>
    <li ng-repeat="oppmerksomhet in oppmerksomheter">
        <a href="#/oppmerksomheter/{{oppmerksomhet.id}}">Til: {{oppmerksomhet.til | utledInvolvert : oppmerksomhet.tilType}}, Fra: {{oppmerksomhet.fra | utledInvolvert : oppmerksomhet.fraType}}, Dato: {{oppmerksomhet.tid | date: 'dd-MM-yyyy'}}</a>
    </li>
</ul>
<div ui-calendar="kalenderInnstillinger" config="kalenderInnstillinger" ng-model="eventSources" />